# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List popular languages for Data Science
- R
- Python
- Julia

Some of the popular languages that Data Scientists use are:
1. First item
2. Second item
3. Third item

1. First item
2. Second item
3. Third item

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. MatPlotlib
4. Seaborn

| Data Science Tools |
| ------------------ |
| Jupiter Notebook |
| colab.google |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
a = 3
b = 4
c = 5
print((a*b)+c)

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
a = 200
b = 60
print((a/b))

3.3333333333333335

## Author
Alexey